﻿
@{
    ViewData["Title"] = "Consulta CEP";
}

@section Scripts{ 
    <script type="text/javascript">
        function ConsultaCepWS(cep) {
            $.ajax({
                type: 'POST',
                url: '/Cliente/ConsultaCep',
                data: { cep: cep },
                success: function (result) {
                    if (result != "") {
                        var txt = "<hr /><b>RESULTADO DA CONSULTA</b><br /> \
                            Logradouro: " + result.logradouro + "<br /> \
                            Bairro: " + result.bairro + "<br /> \
                            Cidade: " + result.cidade;
                        $("#divEndereco").html(txt);
                    }
                    else {
                        $("#divEndereco").html("<hr />CEP não encontrado.");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrow) {
                    alert(textStatus);
                }
            });
        }

        function ConsultaCepAPI(cep) {
            $.getJSON("https://viacep.com.br/ws/" + cep + "/json/", function (data) {
                $.each(data, function () {
                    var txt = "<hr /><b>RESULTADO DA CONSULTA</b><br /> \
                            Logradouro: " + data.logradouro + "<br /> \
                            Bairro: " + data.bairro + "<br /> \
                            Cidade: " + data.localidade + "<br /> \
                            Estado: " + data.uf;
                    $("#divEndereco").html(txt);
                })
            });
        }

        $("#txtCEP").change(function () {
            var nroCEP = $("#txtCEP").val();
            if ($("input[name='rbLocal']:checked").val() == "Correios") {
                ConsultaCepWS(nroCEP);
            }
            else {
                ConsultaCepAPI(nroCEP);
            }
        });
    </script>
}

<h2>Consulta CEP</h2>
<hr />
<form>
    <div class="form-group">
        <label>Local de Pesquisa</label>
        <div class="form-check">
            <input type="radio" id="rbLocal" name="rbLocal" class="form-check-input"
                   value="Correios" checked />
            <label class="form-check-label">WebServices do Correio</label>
        </div>
        <div class="form-check">
            <input type="radio" id="rbLocal" name="rbLocal" class="form-check-input"
                   value="viaCEP" />
            <label class="form-check-label">API Via CEP</label>
        </div>
    </div>
    <div class="form-group">
        <label>CEP</label>
        <input type="text" name="txtCEP" id="txtCEP" 
               class="form-control" required />
    </div>
</form>
<div id="divEndereco"></div>

